<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/layout :: head">

</head>
<body>
<div class="container-full">
    <nav class="navbar navbar-inverse">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="#">Brand</a>
            </div>
        </div>
    </nav>
    <div class="row">
        <div class="col-sm-6">
            <h2>Application Name</h2>
            <br/>
        </div>
        <!-- Login form -->
        <div class="col-sm-4 jumbotron">
            <div th:if="${param.error}">
                Invalid username and password.
            </div>
            <div th:if="${param.logout}">
                You have been logged out.
            </div>
            <h3 class="text-center">Sign in</h3>
            <hr/>
            <form th:action="@{/login}" method="post">
                <input name="username" type="text" class="form-control" placeholder="Username"/>
                <input name="password" type="password" class="form-control" placeholder="Password"/>
                <br/>
                <input type="submit" class="btn btn-primary btn-block" value="Sign In" />
                <br/><br/>
                <h5>Don't have an account? <a th:href="@{/hello}"> Create one here!!!</a> </h5>
            </form>
        </div>
    </div>
</div>
<div th:replace="fragments/layout :: footer"></div>
</body>
</html>
